body{
	background-size: cover;
	background-position: center;
	font-family: 'Fredoka One', cursive;
	background-color: white;
	font-size: medium;
}

div{
	color: black;
}

.container{
	color: black;
}

.navbar-default {
    background-color: #1c1d22;
    border-color: #1c1d22;
}

html{
	height: 100%;
}

#content{
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right: 5%
	padding-left: 5%;
}