body{
	background-size: cover;
	background-position: center;
	font-family: lato;
	background-color: black;
}

div{
	color: white;
}

.navbar-default {
    background-color: #1c1d22;
    border-color: #1c1d22;
}

html{
	height: 100%;
}

#content{
	padding-top: 5%;
	padding-bottom: 5%;
}